@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --highlight: #52e1fee5;
  font-family: var(--font-jetbrainsMono), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrainsMono), monospace;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* اعمال فونت به تمام کامپوننت‌ها */
* {
  font-family: var(--font-jetbrainsMono), monospace;
}

@layer base {
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px var(--highlight);
  }
}

.rt-ScrollAreaThumb {
  position: relative;
  background-color: var(--highlight) !important;
  border-radius: inherit;
  transition: background-color 100ms;
}
